ChangeLog
INSTALL
Makefile
Makefile.in
*~
*.a
*.o
*.la
*.lo
*.exe
.deps
.libs
test
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.h.win32
config.log
config.status
config.guess
config.sub
configure
libtool
intltool-*.in
depcomp
ltmain.sh
install-sh
missing
mkinstalldirs
stamp-h1
core.*
core
compile
gtk-doc.make
*.pc
*.desktop
*.desktop.in
*.schemas
.cdtproject
.project
.settings/
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
setup_environment_vars.sh
m4/shave
m4/shave-libtool
